@import 'node_modules/bootstrap/scss/bootstrap';
@import "/node_modules/flag-icons/css/flag-icons.min.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

